# build related
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
bin/
build/
cmake-build-*/
out/

# imgui saved state
imgui.ini

# force .obj files to be added
!assets/models/**/*.obj

# IDE specific files
.vscode/
.vs/

# Clion specific files
.idea/

# More
docs/
expected/
scripts/
instructions.md
instructions.pdf
screenshots/
errors/


